:root {
    --primary-brand: #4D5AE5;
    --pressed-state:#404BBF;
    --dark:#2E2F42;
    --success:#31D0AA;
    --text:#434455;
    --subtle-text:#8E8F99;
    --accent:#E7E9FC;
    --light:#F4F4FD;
    --modal-overlay:#2E2F42;
    --hero-background:#2E2F42;
    --white-background:#FFFFFF;
    --modal-background:#FCFCFC;
    --primary-font: Roboto, Ubuntu, sans-serif;
    --logo-font: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color:var(--white-background)
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*====COMPONENTS===*/

.logo-link {
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand);
    text-transform: uppercase;
}

.headline-secondary {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--dark);
}

.headline-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-list-icon {
    margin: 0 auto;
    display: block;
    fill: var(--light)
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background-color: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: var(--pressed-state);
}

/*===/COMPONENTS===*/


/*===HEADER===*/

.header {
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.page-header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 24px 0
}

.address-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo-link {
    margin-right: 76px;
}


.dark-logo {
    color: var(--dark);
}

.menu-link {
    position: relative;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--pressed-state);
}

.menu-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover:after,
.menu-link:focus:after {
    opacity: 100%;
}

.current {
    position: relative;
    color: var(--pressed-state);
    opacity: 100%;

}

.current::after {
    opacity: 100%;
}

.address-link {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*===/HEADER===*/


/*===MAIN SECTION===*/

.main-section {
    background-color: var(--hero-background);
    min-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/people_office.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
}

.main-headline {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-background);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

/*===/MAIN SECTION===*/


/*===SECTION DESCRIPTION===*/

.description {
    padding: 120px 0;
}

.description-list {
    display: flex;
    gap: 24px;
}

.description-item {
    width: 264px;
}

.description-div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--light);
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
}

.description-icon {
    display: block;
    width: 64px;
    height: 64px;
}

.head-description {
    margin-bottom: 8px;
}

/*===/SECTION DESCRIPTION===*/


/*===SECTION WHAT ARE WE DOING===*/

.work {
    padding-bottom: 120px;
}

.headline-secondary {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-item {
    width: calc((100% - 48px) / 3);
}

/*===/SECTION WHAT ARE WE DOING===*/


/*===SECTION TEAM===*/

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;    
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}

.one-of-team {
    padding: 32px 0;
}

.headline-team {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.social-list-team {
    gap: 24px;
}

.social-list-team-link:hover,
.social-list-team-link:focus {
    background-color: var(--pressed-state);
}


/*===SECTION TEAM===*/

/*===SECTION CUSTOMERS===*/

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-list-link {
    width: 168px;
    height: 88px; 
    display: flex;
    align-items: center;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: var(--subtle-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.customers-list-link:hover,
.customers-list-link:focus {
    color: var(--pressed-state);
}

.customers-list-icon {
    width: 104px;
    height: 56px;
    margin: 0 auto;
    display: block;
    fill: currentColor;
}

/*===/SECTION CUSTOMERS===*/

/*===FOOTER===*/

.footer {
    background-color: var(--dark);
    height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer{
    display: flex;
}

.logo-footer-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.light-logo {
    color: var(--light);
}

.footer-text{
    color: var(--light);
    max-width: 264px;
}

.social-list-container{
    margin-right: 80px;
}

.footer-secondary-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
}

.social-list-footer {
    gap: 16px;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--success);
}

.footer-email-form {
    display: flex;
}

.footer-form-field {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
}

.footer-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: var(--dark);
    color: var(--white-background);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 0px 8px 16px;
    margin-right: 24px;
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer-subscribe-btn {
    position: relative;
    width: 165px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    border: none;
    padding: 8px 64px 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--success);
}

.footer-btn-icon {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 24px;
    transform: translateY(-50%);
    fill: var(--white-background)
}

/*===/FOOTER===*/

/*===MODAL WINDOW===*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    background: var(--modal-background);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--pressed-state);
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--white-background);
}

/*===MODAL FORM===*/

.modal-form-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--modal-overlay);
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-textarea {
    margin-bottom: 16px;
}

.modal-form-desk {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    margin-bottom: 4px;
}

.modal-form-imput-wrapper {
    display: block;
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    font-size: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    outline: none;
    border-color: var(--primary-brand);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--primary-brand);
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--primary-brand);
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    margin-bottom: 24px;
}


.modal-form-fake-chackbox {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-icon {
    position: absolute;
    fill: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal-form-check:checked + .modal-form-check-desc>.modal-form-fake-chackbox {
    background-color: var(--pressed-state);  
}


.modal-form-check:focus + .modal-form-check-desc>.modal-form-fake-chackbox {
    outline: none;
    border-color: var(--primary-brand);
}

/*.modal-form-submit {
    display: block;
    background-color: var(--primary-brand);
    color: var(--white-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background-color: var(--pressed-state);
}*/

/*===/MODAL FORM===*/

/*===/MODAL WINDOW===*/


/*===PORTFOLIO===*/

/*===MAIN SECTION===*/


.main-portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-headline {
    visibility: hidden;
}

.filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter-btn {
    font-family: "Roboto", sans-serif;
    color: var(--primary-brand);
    background-color: var(--light);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid var(--accent);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    border: 1px solid transparent;
    color: var(--white-background);
    background-color: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;     
}

.examples-list-item {
    width: calc((100% - 48px) / 3);
}

.examples-list-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list-link:hover,
.examples-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-div-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--primary-brand);
    overflow: auto;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--light);
    padding: 40px 32px;
}

.examples-list-link:hover .overlay,
.examples-list-link:focus .overlay {
    transform: translate(0, 0);
}

.portfolio-div-text {
    padding: 32px 16px;
    border: 1px solid var(--accent);
    border-top: none; 
}

.portfolio-item-headline {
    margin-bottom: 8px;
}

.link-text {
    color: var(--text);
}

/*===/MAIN SECTION===*/

/*===/PORTFOLIO===*/
